body {
  background: silver;
}
  
h1 {
  color: white;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
  background-color: darkgrey;
  border-radius: 25px; 
  text-align: center;
  font-size: 40px;
}
  
  p {
    width: 320px;
    outline: 5px ridge green;
    padding: 10px;
    border: 1px solid gray;
    margin: 50px;
    font-size: 30px;
    font-family: "Lucida Console", monospace;
    text-align: center;
    line-height: 5px;

  }
  
  